textarea {
    resize: none;
}

.hidden {
    display: none;
}

.task-table {
    border: 1px solid #dddddd;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    padding: 10px;
}
div.task-container {
    display: none;
    padding-top: 10px;
}
div.task-content {
    padding-bottom: 10px;
}

input#newprojectname, input#newfoldername, input.tasks-add-field, input.compose-to, input.compose-subject {
    background-color: white !important;
    background-image: none !important;
    padding-left: 5px;
    padding-right: 5px;
}

input#newprojectname, input#newfoldername {
    margin-left: 0;
}
