table.message-table {
    background-color: #ffffff;
    border: 1px solid #cccccc;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    padding: 10px;
}

table.message-table.closed {
    background-color: #eeeeee;
    cursor: pointer;
}

table.message-table.unread {
    font-weight: bold;
}

table.message-table.unread, table.message-table.compose {
    background-color: #eeeeee;
    cursor: pointer;
}

table.message-table span.ui-icon-mail-open, .blue-icon {
    background-image: url("external_css/flick/images/ui-icons_0073ea_256x240.png") !important;
}

td.message-label {
    font-weight: bold;
    width: 100px;
}

td.message-icon-read, td.message-icon-toggle {
    width: 30px;
}

/* top-align the expand/collapse icon */
td.message-icon-toggle {
    vertical-align: top;
}

/* right-align the expand/collapse icon */
td.message-icon-toggle span {
    float: right;
}

div.message-container {
    display: none;
    padding-top: 10px;
}

div.message-content {
    padding-bottom: 10px;
}

div.message-reply {
    width: 100%;
}

textarea {
    border: 1px solid #dddddd;
}

textarea.reply {
    overflow: auto;
}

/* buttons with icons */
button.message-choose-file, button.message-send-reply, button.message-send {
    float: right;
    margin-left: 0;
}

button.message-send, button.message-send-reply {
    margin-right: 0;
}

input.compose-to, input.compose-subject, textarea.reply, textarea.compose {
    padding-left: 5px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    width: 100%;
}

td.message-compose-header {
    font-weight: bold;
}

input.compose-subject {
    margin-bottom: 4px;
}

span.message-timestamp {
    float: right;
    color: #777777;
    font-weight: normal;
    font-size: .8em;
}

span.message-timestamp-separator {
    font-size: .75em;
    vertical-align: top;
}

/***************/
/* File upload */
/***************/

input.input-file {
    opacity: 0;
    width: 1px;
}

div.file-list {
    float: right;
    display: inline-block;
    margin: 0 10px 0 10px;
}

.file-list .close-button {
    font-size: 10px;
    margin-left: 4px;
}

.file-list .file-chip {
    border-width: 1px;
    border-style: dotted;
    padding: .4em 1em .4em .8em;
    display: inline-block;
    margin-top: .1em;
    margin-left: .2em;
    border-radius: .2em;
}

